<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Centralize Auth</title>
    <style>
        body {
            background-color: #22282e;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container w-50 mt-5 bg-white rounded-2 p-0">
        <div class="text-center bg-success p-2 py-3 rounded-top">
            <h4 class="m-auto text-white">TickLab Centralize Authentication</h4>
        </div>

        <div class="p-3  w-100">
            <form class="w-100" action="/auth/login" method="post">
                <div class="mb-2">
                    <label for="email-or-uname" class="form-label">Email or username:</label>
                    <input type="text" class="form-control" id="email-or-uname"
                        placeholder="email@example.com or name ..." required name="user">
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="d6se@p%1#az*..." required
                        name="password">
                </div>
                <hr>
                <button type="submit" class="btn btn-success w-100">
                    Login
                </button>
            </form>
        </div>
    </div>
</body>

</html>