$primary: #343a40;
$secondary: #007bff;

.styled-table {
    border-collapse: collapse;
    margin: 0 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid $primary;
}

.styled-table thead tr {
    background-color: $primary;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: $primary;
}

.zdrop {
    z-index: 1000;
}

.cards-holder {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    &::-webkit-scrollbar {
      display: none;
    }
}

.card-item {
    width: 18rem;
    flex: 0 0 auto;

    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    
    &:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
}

@import "~bootstrap/scss/bootstrap.scss";