$primary: #343a40;
$secondary: #007bff;

.styled-table {
    border-collapse: collapse;
    margin: 0 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid $primary;
}

.styled-table thead tr {
    background-color: $primary;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: $primary;
}

.zdrop {
    z-index: 1000;
}

@import "~bootstrap/scss/bootstrap.scss";